<%- layout('layouts/base') %>

<h1 class="centered-text">Welcome to Scrabble Trainer 2</h1>
<div id="rules">
    <p>In this new version of Scrabble Trainer, you can either play timed mode, where you get bonus points for playing
        faster, or play with unlimited time and compare your results with a basic AI.</p>
</div>
<div class="button-group">
    <a href="/timed"><button class="button">Timed</button></a>
    <a href="#"><button class="button">Unlimited</button></a>
    <a href="#"><button class="button">See Scores</button></a>
</div>