<%- layout('layouts/base') %>

<h1>Timed Mode</h1>
<h3>This will be familiar if you played my original Scrabble Trainer, available <a
        href="https://dredly.github.io/Scrabble-Trainer/">here</a></h3>
<div id="rules">
    <p>You will have 1 minute to play 5 rounds, but you will score bonus points for finishing faster.</p>
    <p>In each round, try to write the highest scoring word that you can.</p>
    <p>If you write an invalid word, you will lose 5 points.</p>
    <p>You do have the option to trade in all your letters, but it comes with a 50 point penalty, so only do it when
        you can't write anything!</p>
    <p>If you share your random seed with a friend, they can play with the same letters as you to see if they can do
        better!</p>
</div>
<a href="/timed/play"><button class="button">Play Game</button></a>